#deal-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#deal-search label {
  font-family: 16px;
  letter-spacing: 1px;
  margin-right: 16px;
}

#deal-search input {
  padding: 15px 25px;
  width: 100%;
  max-width: 200px;
}
