.edit-deal-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.edit-deal-wrapper form label {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.edit-deal-wrapper form input,
.edit-deal-wrapper form select {
  width: 100%;
  max-width: 500px;
  padding: 15px 25px;
  margin: 20px 0 40px;
  letter-spacing: 1px;
}
